<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="/test.do" class="com.test.controller.TestController"/>
<!-- db jndi설정 -->
<bean id="ds" class="org.springframework.jndi.JndiObjectFactoryBean">
<property name="jndiName">
	<value>jdbc/spring</value>
</property>
<property name="resourceRef" value="true"/>
</bean>

<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="ds"/>
</bean>

<!-- dao -->
<bean id="dao" class="com.member.model.MemberDAOimpl">
	<property name="template" ref="template"></property>
</bean>

<!-- controller설정 -->
<!-- insertForm -->
<bean name="/member_form_insert.do" class="com.test.controller.MemberFormInsert"/>


<!-- insert -->
<bean name="/member_insert.do" class="com.test.controller.MemberInsert">
<property name="dao" ref="dao"/>
</bean>

<!-- list -->
<bean name="/member_list.do" class="com.test.controller.MemberList">
	<property name="dao" ref="dao"/>
</bean>

<!-- delete -->
<bean name="/member_delete.do" class="com.test.controller.MemberDelete">
	<property name="dao" ref="dao"/>
</bean>

<!-- detail -->
<bean name="/member_detail.do" class="com.test.controller.MemberDetail">
	<property name="dao" ref="dao"/>
</bean>

<!-- update -->
<!-- detail -->
<bean name="/member_update.do" class="com.test.controller.MemberUpdate">
	<property name="dao" ref="dao"/>
</bean>
</beans>